body {
    width:100vw;
    height:100vh;

    background:radial-gradient(circle at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

header {
    min-height:10vh;
    border-radius:15px;
    border: solid 3px hsl(217, 16%, 45%);
}

header div {
    background-color: white;
    border-radius: 15px;
    text-align: center;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
}

header div #score {
    text-align: center;
    color:hsl(229, 25%, 31%);
    text-transform: uppercase;
    font-size: 6em;
    font-weight: 700;
    margin-top:-15%;
}

header div #text-score {
    text-align: center;
    color:hsl(229, 64%, 46%);
    text-transform: uppercase;
    font-size: 1.5em;
}

h1 {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 700;
}

main {
    min-height: 65vh;
    background: url("res/images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% auto;
}

main .icon {
    box-shadow: inset 10px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
    height:210px;
    width:210px;
    border-radius: 50%;
}

main #rock {
    background: radial-gradient(circle at top, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    height:250px;
    width:250px;
    border-radius: 50%;
    box-shadow: 5px 5px hsl(349,67%,40%);
    margin-top:50%;
    margin-left:-60%;
}

main #rock .icon {
    background-image: url("res/images/icon-rock.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% auto;
}

main #paper {
    background: radial-gradient(circle at top, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    height:250px;
    width:250px;
    border-radius: 50%;
    box-shadow: 5px 5px hsl(230,55%,44%);
    margin-right:30%;
    margin-left:5%;
}

main #paper .icon {
    background-image: url("res/images/icon-paper.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% auto;
}

main #scissors {
    background: radial-gradient(circle at top, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    height:250px;
    width:250px;
    border-radius: 50%;
    box-shadow: 5px 5px hsl(39,90%,37%);
}

main #scissors .icon {
    background-image: url("res/images/icon-scissors.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% auto;
}

footer button {
    border-radius:10px;
    border: solid 2px white;
    background-color: transparent;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    color:white;
    font-size: 1.5em;
}

@media (min-width: 576px) {
    .container {
        width : 375px;
    }
}


@media (min-width: 768px) {
    .container {
        width : 375px;
    }
}


@media (min-width: 992px) {
    .container {
        width : 375px;
    }
}


@media (min-width: 1200px) {
    .container {
        width : 375px;
    }
}


@media (min-width: 1400px) {
    .container {
        width:1366px;
    }

    header.container {
        width:calc(1366px * 0.66);
    }

    h1 {
        font-size: 3em;
        color:white;
        text-transform: uppercase;
    }

    main.container {
        width:calc(1366px * 0.66);
    }
}